{% extends "customer/partials/customerpartial.html" %}

{% block container %}
    
        {% block navbar %}
            {% include 'customer/partials/navbar.html' %}
        {% endblock %}
        

{% endblock %}

{% block cart %}
<div class="small-container cart-page">
	{%if usercart%}	
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item in usercart %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{item.product.product_picture.url}}">
                
                    <div>
                        <p>{{item.product.product_name}}</p>
                        <small>Price: &#8377; {{item.product.price}}</small>
                        <br>
                        <a href="{% url 'removeproductcartpage' cart_item_id=item.id %}">Remove</a>
                    </div>
                </div>	
            </td>
            <td><input type="number" name="quantity" min="1" max="10" value="1"></td>
            <td>&#8377; </td>
        </tr>
        
        {% endfor %}
    </table>

    <div class="total-price">
        
        <table>
            <tr>
                <td>Total</td>
                <td>&#8377; {{totalprice}}</td>
            </tr>	
        </table>
        <form action="{% url 'checkoutcustomer' %}" method="POST">

            {%csrf_token%}
            <div class="form-group">
                <label for="name">Address</label>
                {{checkoutform.address}}
            </div>
            <div class="form-group">
                <label for="name">Phone</label>
                {{checkoutform.phone}}
            </div>
    
            <div class="col-12 text-right">
                <input type="submit" class="btn btn-outline-success" value="Checkout">
            </div>
        </form>
        {%else%}
                <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive text-center">
                    <h3 class="text-danger text-center">No product is available in cart</h3>
                    <a href="{% url 'products' %}" class="btn btn-sm btn-info mx-auto">KEEP BROWSING</a>
                </div>
        {% endif %}
    </div>

</div>

{% endblock %}