{% extends "customer/partials/customerpartial.html" %}

{% load static %}
{% block container %}
    
        {% block navbar %}
            {% include 'customer/partials/navbar.html' %}
        {% endblock %}
        {% block searchbar %}
        {% include 'customer/partials/searchbar.html' %}
        {% endblock %}

{% endblock %}


{% block products %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
    </div>
    <div class="row">
        {% for product in  products%}
        <div class="col-4">
            <img src="{{product.product_picture.url}}" alt="{{product.product_name}}-img">
            <h4><a href="" class="product-name">{{product.product_name}}</a></h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>&#8377; {{product.price}}</p>
            <div>
                {% if user.is_authenticated%}
                {% if usercart%}
                {% for item in  usercart%}
                    {% if item.product == product %}
                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="removefromcart btn btn-outline-danger"><i class=" fas fa-times mr-2"></i>Remove from cart</a>
                    {% else %}
                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="addtocart btn btn-outline-dark"><i class="fas fa-cart-plus mr-2"></i>Add to cart</a>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="addtocart btn btn-outline-dark"><i class="fas fa-cart-plus mr-2"></i>Add to cart</a>
                {% endif %}  
                {% endif %}   
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).on('click','.addtocart',function(e){
        e.preventDefault();
        var prod_id = $(this).attr('product');
        $.ajax(
      {
          type: "POST",
          url: "{%url 'addtocart'%}",
          dataType: 'json',
          data: {product:prod_id},
          success: function(data) {
            $('#cartbtn'+prod_id).toggleClass('addtocart removefromcart');
            $('#cartbtn'+prod_id).toggleClass('btn-outline-dark btn-outline-danger'); 
            $('#cartbtn'+prod_id).html('<i class=" fas fa-times mr-2"></i>Remove from cart');
          },
          error: function() { 
            alert("server error");
          }
      });
    });

    $(document).on('click','.removefromcart',function(e){
        e.preventDefault();
        var prod_id = $(this).attr('product');
        $.ajax(
      {
          type: "POST",
          url: "{%url 'removefromcart'%}",
          dataType: 'json',
          data: {product:prod_id},
          success: function(data) {
            $('#cartbtn'+prod_id).toggleClass('removefromcart addtocart');
            $('#cartbtn'+prod_id).toggleClass('btn-outline-danger btn-outline-dark');
            $('#cartbtn'+prod_id).html('<i class=" fas fa-cart-plus mr-2"></i>Add to cart');
          },
          error: function() { 
            alert("server error");
          }
      });
    });
</script>
{% endblock scripts %}